---
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <main>
        <section>
            <h1 class="title">Sistema de Inventario y Facturación</h1>
            <h2>Aires Acondicionados y Refrigeración</h2>
            <h3>Douglas Sánchez</h3>
            <img src="/logo.webp" alt="logo de aires acondicionados y refrigeracion douglas sanchez">
        </section>
    </main>
	
</Layout>

<style>

    main {
        width: 100%;
        height: 90vh;
        padding: 2rem;
    }

    section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .25rem;
        background: linear-gradient(to bottom, #f1f1f1, #fff);
        border-radius: 10px;
    }

    img {
        margin-top: 20px;
        width: 300px;
    }

    .title {
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        color: #1f2937;
        font-size: 1.5rem;
    }

    h3 {
        color: #1f2937;
        font-weight: 700;
        font-style: italic;
        font-size: 1.25rem;
    }

</style>