---
import Navbar from "../components/Navbar.astro"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Sistema Inventario</title>
	</head>
	<body>

		<div class="navbar">
			<Navbar />
		</div>

		<div class="content">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	*, *::before, *::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family:sans-serif;
	}

	body {
		background-color: #d3d3d3;
	}

	.navbar {
		position: fixed;
		z-index: ;
	}

	.content {
		max-width: 100%;
		min-height: 100vh;
		margin: 0 auto;
		margin-left: 180px;
		padding: 1rem 2rem;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h1 {
		text-align: center;
		font-size: 2rem;
		margin: 1rem 0;
	}

	.btn-add_container {
		background: #1f2937;
		border-radius: 5px;
		max-width: 150px;
		display: flex;
		justify-content: center;
		align-items: center;

		& .btn-add {
			padding: .35rem .75rem;
			width: 100%;
			text-align: center;
			color: #fff;
			text-decoration: none;
			font-size: .9rem;
			font-weight: 600;
		}

		&:hover {
			background: #4b4b8a;
		}
	}

	.input-busqueda_container {
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
		& input {
			width: 100%;
			max-width: 400px;
			padding: .5rem;
			border: 1px solid #ccc;
			border-radius: 7px;
			font-size: .9rem;

			&:focus {
				outline: none;
				border: 1.5px solid #1f2937;
			}
		}
	}

	table {
		width: 100%;
		margin-bottom: .5rem;

		& th {
			background-color: #f2f2f2;
			font-weight: bold;
			padding: 1rem;
			text-align: left;
		}

		tr {
			border-bottom: 1px solid #ddd;
			width: 100%;

			&:last-child {
				border-bottom: none;
			}
			&:hover {
				background-color: #f7f7f7;
			}
		}

		td {
			padding: .75rem;
			text-align: left;
			font-size: .85rem;
		}

		.acciones {
			display: flex;
			gap: 10px;

			& button {
				font-size: .7rem;
				color: #fff;
				font-weight: 700;
				border: none;
				padding: .25rem .5rem;
				border-radius: 5px;

				&:hover {
					cursor: pointer;
				}
			}

			& .btn-clave, .btn-stock {
				background: #1f2937;

				&:hover {
					background-color: #4b4b8a;
				}
			}

			& .btn-eliminar {
				background-color: #ff4d4d;

				&:hover {
					background-color: #a51515;
				}
			}

			& .btn-editar {
				background-color: #4d94ff;

				&:hover {
					background-color: #1a66cc;
				}
			}

			
		}
	}
	
	.btn-vermas_container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;

		& button {
			background-color: #1f2937;
			color: #fff;
			border-radius: 5px;
			max-width: 150px;
			padding: .35rem .75rem;
			text-align: center;
			font-size: .9rem;
			font-weight: 600;
			border: none;
			outline: none;

			&:hover{
				background: #4b4b8a;
				cursor: pointer;;
			}
		}
	}

	.form-container {
		margin: 0 auto;
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	form div {
		width: 100%;
	}

	form label {
		font-size: .75rem;
		font-weight: 700;
	}

	form input, form select {
		width: 100%;
		max-width: 400px;
		padding: .5rem;
		border: 1px solid #ccc;
		border-radius: 7px;
		font-size: .9rem;

		&:focus {
			border: 1.5px solid #1f2937;
		}
	}

	select {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		background: url('/down-arrow.svg') no-repeat right 10px center;
	}

	form select option {
		font-size: .8rem;
		background: #f2f2f2;
	}

	form button {
		margin-top: 1rem;
		background-color: #1f2937;
		color: #fff;
		border-radius: 5px;
		max-width: 150px;
		padding: .35rem .75rem;
		text-align: center;
		font-size: .9rem;
		font-weight: 600;
		border: none;
		outline: none;

		&:hover{
			background: #4b4b8a;
			cursor: pointer;;
		}
	}

	.password-container {
		width: 100%;
        display: flex;
        gap: 10px;

        & span {
            cursor: pointer;
            font-size: 1.25rem;
            border: .5px solid #ccc;
            border-radius: 5px;
            background: #1f2937;
        }
    }

	.mensaje-error {
		margin: 0 auto;
		color: #fff;
		background: #a51515;
		text-align: center;
		font-size: 1.2rem;
		padding: .5rem 1rem;
	}

	.mensaje-exito {
		margin: 0 auto;
		color: #fff;
		background: #008000;
		text-align: center;
		font-size: 1.2rem;
		padding: .5rem 1rem;
	}

	@media (max-width: 768px) {

		h1 {
			text-align: left;
			font-size: 1.5rem;
		}
		table, thead, tbody, th, td, tr {
			display: block;
			width: 100%;
		}

		thead {
			display: none;
		}

		tr {
			margin-bottom: 1rem;
			border: 1px solid #ccc;
			border-radius: 6px;
			padding: .75rem;
			background-color: #f9f9f9;
		}

		td {
			text-align: left;
			padding: .5rem;
			position: relative;
			font-size: .85rem;
		}

		td::before {
			content: attr(data-label);
			font-weight: bold;
			display: block;
			margin-bottom: .3rem;
			color: #555;
		}
	}

	@media (max-width: 768px) {
	.content {
		margin-left: 0;
		padding: 1rem 1rem;
	}

	.navbar {
		z-index: 1000;
	}

	.form-container {
		width: 100%;
	}
}

</style>
